./Ansys_Structural_Analysis/Spring_Analysis_files/dp0/SYS/MECH/ds.dat
./Ansys_Structural_Analysis/Spring_Analysis_files/dp0/SYS/MECH/file.rdb
./Ansys_Structural_Analysis/Spring_Analysis_files/dp0/SYS/MECH/file.rst
./Ansys_Structural_Analysis/Spring_Analysis_files/dp0/SYS/MECH/file.r001
